.to-top
    background rgba(0, 0, 0, .3)
    border-radius 30px
    bottom 10px
    box-shadow 1px 1px 5px rgba(0, 0, 0, .5)
    display none
    height 45px
    position fixeds
    right 10px
    width 45px
    &:before
        color rgb(68, 110, 155)
        content "\e113"
        font-family "Glyphicons Halflings"
        font-size 20px
        left 13px
        position relative
        top 9px
    &:hover
        background rgb(68, 110, 155)
        cursor pointer
        &:before
            color rgb(255, 255, 255)
