[Unit]
Description=gunicorn daemon
After=syslog.target
After=network.target

[Service]
PIDFile=/run/gunicorn/pid
User=TU_USER
Group=TU_GROUP
WorkingDirectory=/home/TU_USER/webapps/example.com/bin/
ExecStart=/bin/bash gunicorn_start
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
