<!DOCTYPE html>
{% load staticfiles %}
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="{% static "dist/img/favicon.ico" %}">
  <title>Application name {% block title %}{% endblock title %}</title>
  <link href="{% static 'libs/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'dist/css/main.min.css' %}" rel="stylesheet">
  {% block stylesheets %}{% endblock stylesheets %}
</head>
<body>

  {% include '_navbar.html' %}

  <div class="container">
    {% include '_messages.html' %}

    {% block content %}{% endblock content %}

    <hr>
    {% block footer %}{% endblock footer %}
  </div><!-- end .container -->

  <div class="to-top"></div>

  <script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'dist/js/main.min.js' %}"></script>
  {% block scripts %}{% endblock scripts %}
</body>
</html>
