.alert {
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  color: rgba(255, 255, 255, .7);
  margin: 10px;
  padding: 10px 10px 10px 50px;
  position: relative;

  strong {
    font-weight: bold;
  }

  &:before {
    color: black;
    font-family: "Material Icons";
    font-size: 2.5rem;
    left: 6px;
    opacity: .4;
    position: absolute;
    top: -6px;
  }

  &.alert-error {
    background-color: $error-color;

    &:before {
      content: "\e000";
    }
  }

  &.alert-info {
    background-color: $info-color;

    &:before {
      content: "\E88E";
    }
  }

  &.alert-warning {
    background-color: $warning-color;

    &:before {
      content: "\E002";
    }
  }

  &.alert-success {
    background-color: $success-color;

    background-color: teal;

    &:before {
      content: "\E86C";
    }
  }

  // X para cerrar los alerts.
  .close-alert {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-size: 1.5em;
    padding: 4px;
    position: relative;
    top: -8px;

    &:hover {
      color: grey;
    }
  }
}

