body {
    padding-bottom: 20px;
    padding-top: 70px;
}
.to-top {
    background: url(../img/theme/ui.totop.png) no-repeat left top;
    border: none;
    bottom: 10px;
    display: none;
    height: 51px;
    overflow: hidden;
    position: fixed;
    right: 10px;
    width: 51px;
}
.to-top:hover {
    background: url(../img/theme/ui.totop.png) no-repeat left -51px;
    display: block;
    filter: alpha(opacity=0);
    float: left;
    height: 51px;
    overflow: hidden;
    width: 51px;
}
